.mainPage {
  h1 {
    font-size: 34px;
    font-weight: 600;
  }
  &-btn {
    margin-top: 80px;
    height: 32px;
    padding: 7.5px 40px 7.5px 41px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: var(--orchestra-primary, #5870e0);
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
  }
  p {
    padding-top: 80px;
    font-size: 20px;
    font-weight: 500;
  }
  li {
    padding-top: 20px;
  }
}
